<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Welcome </title>
    <link rel="shortcut icon" href="" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <style>
        body { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body  ng-app ="BankAccount" data-ng-controller ="BankAccountController">
<div class="container">
    <div class="row">
        <div style="float: right">
            <a href="/profile" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> <%= username %></a>
            <a href="/logout" class="btn btn-danger"><span class="glyphicon glyphicon-off"></span> Logout</a>
        </div>
        <a href="/profile" class="btn btn-primary" type="button">Back</a>
    </div>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <div class="row">
    <table>
        <tr ng-repeat="x in lists">
            <td>{{ x.type }}</td>
            <td>{{ x.amount }}</td>
        </tr>
    </table>
        <p>{{messageCheckTransactions}}</p>
    </div>
</div>
</body>
<style>
    table, th , td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>
<script src="app.js"></script>
<script src="controller/angular-controller.js"></script>
<script src="service/angular-service.js"></script>
</html>